<!DOCTYPE html>
<html ng-app="geplanes"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
    
    <link href="/css/animate.min.css" rel="stylesheet" />
    <link href="/css/jquery-ui.css" rel="stylesheet" />
    <link href="/css/sidebar.css" rel="stylesheet" />

    <link href="/css/metisMenu/metisMenu.min.css" rel="stylesheet">

    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <link href="/css/morrisjs/morris.css" rel="stylesheet">

    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

   

	      <!-- Navigation -->
	      <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	          <div class="navbar-header">
	              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                  <span class="sr-only">Toggle navigation</span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	              </button>
	              <div class="navbar-brand">
		              <button id="menu-toggle" class="btn btn-secondary">
				        	<i class="fa fa-bars "></i> Menu
				        	<span class="icon-bar"></span>
	                  		<span class="icon-bar"></span>
	                  		<span class="icon-bar"></span>
					  </button>
		              <a href="#home">
		              	Radar - Coverage
		              </a>
	              </div>
	              
	          </div>
	          <!-- /.navbar-header -->
	
	          <ul class="nav navbar-top-links navbar-right">
	              <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
	                  </a>
	                  <ul class="dropdown-menu dropdown-messages">
	                      <li>
	                          <a href="#">
	                              <div>
	                                  <strong>Pendência 1</strong>
	                                  <span class="pull-right text-muted">
	                                      <em>22/23/2015</em>
	                                  </span>
	                              </div>
	                              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
	                          </a>
	                      </li>
	                      <li class="divider"></li>
	                      <li>
	                          <a class="text-center" href="#/pendencias">
	                              <strong>Analisar todas as pendências</strong>
	                              <i class="fa fa-angle-right"></i>
	                          </a>
	                      </li>
	                  </ul>
	                  <!-- /.dropdown-messages -->
	              </li>
	              <!-- /.dropdown -->
	              <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
	                  </a>
	                  <ul class="dropdown-menu dropdown-tasks">
	                      <li>
	                          <a href="#">
	                              <div>
	                                  <p>
	                                      <strong>Planejamento</strong>
	                                      <span class="pull-right text-muted">80% Completo</span>
	                                  </p>
	                                  <div class="progress progress-striped active">
	                                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	                                          <span class="sr-only">80% Completo</span>
	                                      </div>
	                                  </div>
	                              </div>
	                          </a>
	                      </li>
	                      <li class="divider"></li>
	                      <li>
	                          <a href="#">
	                              <div>
	                                  <p>
	                                      <strong>Resultados</strong>
	                                      <span class="pull-right text-muted">15% Complete</span>
	                                  </p>
	                                  <div class="progress progress-striped active">
	                                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
	                                          <span class="sr-only">15% Completo (aviso)</span>
	                                      </div>
	                                  </div>
	                              </div>
	                          </a>
	                      </li>
	    
	                      <li class="divider"></li>
	                      <li>
	                          <a class="text-center" href="#">
	                              <strong>Analisar todos os indicadores</strong>
	                              <i class="fa fa-angle-right"></i>
	                          </a>
	                      </li>
	                  </ul>
	                  <!-- /.dropdown-tasks -->
	              </li>
	              <!-- /.dropdown -->
	              <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
	                  </a>
	                  <ul class="dropdown-menu dropdown-alerts">
	                      <li>
	                          <a href="#">
	                              <div>
	                                  <i class="fa fa-comment fa-fw"></i> New Comment
	                                  <span class="pull-right text-muted small">4 minutes ago</span>
	                              </div>
	                          </a>
	                      </li>
	                      <li class="divider"></li>
	                      <li>
	                          <a href="#">
	                              <div>
	                                  <i class="fa fa-tasks fa-fw"></i> Lançamento de resultados
	                                  <span class="pull-right text-muted small">*</span>
	                              </div>
	                          </a>
	                      </li>
	                      <li class="divider"></li>
	                      <li>
	                          <a class="text-center" href="#">
	                              <strong>Veja todos os indicadores</strong>
	                              <i class="fa fa-angle-right"></i>
	                          </a>
	                      </li>
	                  </ul>
	                  <!-- /.dropdown-alerts -->
	              </li>
	              <!-- /.dropdown -->
	              <li class="dropdown">
	                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
	                  </a>
	                  <ul class="dropdown-menu dropdown-user">
	                      <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
	                      </li>
	                      <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
	                      </li>
	                      <li class="divider"></li>
	                      <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
	                      </li>
	                  </ul>
	                  <!-- /.dropdown-user -->
	              </li>
	              <!-- /.dropdown -->
	          </ul>
	          <!-- /.navbar-top-links -->
	</nav>
	<!-- /.navbar-static-side -->
		
	<div id="wrapper">
        
		<div id="sidebar-wrapper">
	        <div class="sidebar">
	             <div class="sidebar-nav navbar-collapse">
	                 <ul class="nav" id="side-menu">
	                    <li>
	                        <a th:href="@{'#dashboard/2017/'+${unidade.id}+'/'}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
	                    </li>
	                    <li>
	                        <a href="#home" title="Resumo geral do desempenho de todas as unidades">Todas as Unidades</a>
	                    </li>
	                    
	                    <li style="display:none;">
	                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Unidades<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="flot.html" title="Pesquisar uma unidade e analisar seu desempenho">Analisar desempenho</a>
	                            </li>
	                            <li>
	                                <a href="flot.html" title="Iniciativas e Planos de Ação">Iniciativas e Planos de Ação</a>
	                            </li>
	                            <li>
	                                <a href="flot.html" title="Pendências">Pendências</a>
	                            </li>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
	                    <li style="display:none;">
	                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Indicadores<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="flot.html" title="Analisar desempenho de um indicador em todas as unidades">Analise do Indicador</a>
	                            </li>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
	                    
	                    <li style="display:none;">
	                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Planejamento<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="flot.html" title="Visão geral das perspectivas, objetivos estratégicos e plano de ação">Visão Geral</a>
	                            </li>
	                        </ul>
	                        <!-- /.nav-second-level -->
	                    </li>
	                </ul>
	            </div>
	            <!-- /.sidebar-collapse -->
	        </div>
        </div>
        
        <div id="page-wrapper">
       
        	<span us-spinner="{radius:30, width:8, length: 16}"></span>
        	<div class="content" ng-view>
          
        	</div>
     	</div>
	
       
            

    </div>
    <!-- /#wrapper -->
    
     <!-- Angular -->
    
	<script type="text/javascript" src="/js/angular/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular/angular-route.js"></script>
	<script type="text/javascript" src="/js/angular/angular-resource.js"></script>
	<script type="text/javascript" src="/js/angular/angular-animate.js"></script>
	<script type="text/javascript" src="/js/angular/angular-messages.js"></script>
	<script type="text/javascript" src="/js/angular/angular-locale_pt-br.js"></script>

    <!-- jQuery -->
    <script src="/js/jquery/jquery-1.10.2.js"></script>
    <script src="/js/jquery/jquery-ui.js"></script>
   
   <script type="text/javascript" src="/js/vendor/dirPagination.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/bootstrap-notify.js"></script>

 	<script src="/js/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    
    
    <script type="text/javascript" src="/js/vendor/spin.min.js"></script>
 	<script type="text/javascript" src="/js/vendor/angular-spinner.min.js"></script>
  	<script type="text/javascript" src="/js/vendor/angular-loading-spinner.js"></script>
  	

    <!-- Morris Charts JavaScript -->
    <script src="/js/raphael/raphael.min.js"></script>
    <script src="/js/morrisjs/morris.min.js"></script>
   

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>
    
    
    <script type="text/javascript" src="/js/app/app.js"></script>
    <script type="text/javascript" src="/js/app/functions-utils.js"></script>
    <script type="text/javascript" src="/js/app/unidadeController.js"></script>
    <script type="text/javascript" src="/js/app/chartController.js"></script>
    <script type="text/javascript" src="/js/app/pendenciaController.js"></script>
     <script type="text/javascript" src="/js/app/indicadorController.js"></script>
      <script type="text/javascript" src="/js/app/iniciativaController.js"></script>

</body>
<script type="text/javascript">
   	$(document).ready(function(){

       	$.notify({
           	icon: 'ti-gift',
           	message: "Bem vindo ao projeto."

           },{
               type: 'success',
               timer: 4000
           });
       	
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
       	

   	});
</script>
</html>
